html,
body {
    margin: 0px;
}

.parent {
    height: 100vh;
    background: coral;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


.child1 {
    background: gold;
    flex: 1;
    
    
    
}


.child2 {
    background: lightpink;
    flex: 1;
}

.centerfy {
    display: flex;
    justify-content: center;
    align-items: center;
}
